In [1]:
# import dependencies
import pandas as pd
import gmaps
from sqlalchemy import create_engine
from config import api_key
from urllib import response
import requests
import json
import numpy as np

### store CSV data into a DataFrame
##### In this project, we were keen to evaluate Airbnb data sourced from Kaggle. Airbnb datasets were downloaded in a CSV format, read into pandas and cleaned to have relevant dataframes

In [2]:
# read the csv into pandas
listing_df=pd.read_csv('resources/listings.csv')
listing_df.head()
len(listing_df)

20420

In [8]:
# select the most desired columns to be stored in sql databse
# perform necessary cleaning routines
# due to the dataset being large, the team opted for top 100 airbnb's in melbourne
new_df=listing_df[['id', 'host_id', 'name', 'host_location', 'review_scores_location', \
    'latitude', 'longitude', 'price']]
new_df.rename(columns={'name':'airbnb_name'}, inplace=True)
new_df.sort_values(by=['review_scores_location'], ascending=False)
new_df=new_df.head(100)
new_df.head()

/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,id,host_id,airbnb_name,host_location,review_scores_location,latitude,longitude,price
0,9835,33057,Beautiful Room & House,AU,9.0,-37.77268,145.09213,$60.00
1,10803,38901,Room in Cool Deco Apartment in Brunswick East,"Melbourne, Victoria, Australia",10.0,-37.76651,144.98074,$31.00
2,12936,50121,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,"Melbourne, Victoria, Australia",10.0,-37.85999,144.97662,$95.00
3,38271,164193,Melbourne - Old Trafford Apartment,"Berwick, Victoria, Australia",10.0,-38.05725,145.33936,$99.00
4,41836,182833,CLOSE TO CITY & MELBOURNE AIRPORT,"Melbourne, Victoria, Australia",9.0,-37.69729,145.00082,$40.00

In [5]:
# read in the csv dataset
reviews_df=pd.read_csv('resources/reviews.csv', encoding='utf-8')
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,9835,279854,2011-05-24,560832,Miriam,"Very hospitable, much appreciated.\r\n"
1,9835,3640746,2013-02-26,5143343,Michelle,A beautiful house in a lovely quiet neighbourh...
2,9835,23731188,2014-12-08,2478713,Karyn,This was my first time using airbnb and it was...
3,9835,46588875,2015-09-12,26184717,Rosalind,I was visiting Melbourne to spend time with my...
4,10803,3333588,2013-01-12,4421189,Johannes,It was very convenient to stay in Lindsay's a...

In [6]:
# extracted the needed columns to be stored in sql database
new_df3=reviews_df[['listing_id', 'id', 'comments']]
new_df3.head()

   listing_id        id                                           comments
0        9835    279854             Very hospitable, much appreciated.\r\n
1        9835   3640746  A beautiful house in a lovely quiet neighbourh...
2        9835  23731188  This was my first time using airbnb and it was...
3        9835  46588875  I was visiting Melbourne to spend time with my...
4       10803   3333588  It was very convenient  to stay in Lindsay's a...

### extract data from Google API 
##### This provided restaurant information near the targeted Airbnb locations. Also cleaned and formatted for further usage.
##### Reason for extracting this data was to enable further analysis on where Airbnb guest might like to dine from or order takeouts from, the group thought this would be of keen interests to guests and hosts.

In [9]:
# create a new dataframe to append extracted restaurant details
# notice we have empty columns which will be filled after parsing in the API
# maintained 'id' column to establish relationship in sql database as primary key
cafe_df=new_df[['id','airbnb_name','latitude','longitude']]
cafe_df['cafe_name']=''
cafe_df['cafe_rating']=''
cafe_df

/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,airbnb_name,latitude,longitude,cafe_name,cafe_rating
0,9835,Beautiful Room & House,-37.77268,145.09213,,
1,10803,Room in Cool Deco Apartment in Brunswick East,-37.76651,144.98074,,
2,12936,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,-37.85999,144.97662,,
3,38271,Melbourne - Old Trafford Apartment,-38.05725,145.33936,,
4,41836,CLOSE TO CITY & MELBOURNE AIRPORT,-37.69729,145.00082,,
...,...,...,...,...,...,...
95,449585,Need Luxury Homebase in Melbourne 1,-37.80491,145.05325,,
96,453940,Corner room - Private & Lovely Balwyn Nth Home,-37.79559,145.07892,,
97,456950,St Kilda Bay Views,-37.85397,144.98198,,
98,464528,BOUTIQUE STAYS – Zinc Views - 501,-37.84318,144.94016,,
99,464612,Point Cook Homestay with Private Bathroom,-37.90042,144.72496,,

In [10]:
# params dictionary to update
params={
    'radius':20,
    'types':'restaurant',
    'keyword':'restaurant',
    'key':api_key
}

# use coordinates from cafe_db dataframe
for index, row in cafe_df.iterrows():
    lat=row['latitude']
    lng=row['longitude']

    params['location']=f'{lat},{lng}'

    url='https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    response=requests.get(url, params=params).json()

    # print(json.dumps(response, indent=4, sort_keys=True))

    try:
        cafe_df.loc[index,'cafe_name']=response['results'][0]['name']
        cafe_df.loc[index, 'cafe_rating']=response['results'][0]['rating']

    except(KeyError, IndexError):
        print('stay put as we keep searching for a nearby cafe')

/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe
stay put as we keep searching for a nearby cafe

In [11]:
# clean the extracted data in the cafe df
cafe_df['cafe_name'].replace('', np.nan, inplace=True)
# cafe_df['cafe rating'].replace('', np.nan, inplace=True)
cafe_df.dropna(subset=['cafe_name'], inplace=True)
cafe_df

/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,id,airbnb_name,latitude,longitude,cafe_name,cafe_rating
0,9835,Beautiful Room & House,-37.77268,145.09213,Mulino Woodfire Pizzeria,4.6
2,12936,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,-37.85999,144.97662,Leo's Spaghetti Bar,4.1
3,38271,Melbourne - Old Trafford Apartment,-38.05725,145.33936,Masala Bar and Grill,3.7
5,43429,Tranquil Javanese-Style Apartment in Oakleigh ...,-37.89960,145.11447,Tarantino's Pizzeria,4.4
7,47100,Très Charming in Fabulous Richmond,-37.81804,145.00442,Bouzy Rouge,4.4
8,51592,Central City Warehouse Apartment,-37.81486,144.96267,Tipo 00,4.6
11,67211,"Kew Tranquility, Melbourne",-37.80370,145.03396,Dawson Eatery & Bar,4.5
14,70328,AWESOME BEACH HOUSE BnB -,-38.00546,145.08541,BANG BANG,4.4
15,72576,Stunning Fitzroy +private bathroom 'Little Geo...,-37.80689,144.97946,Trippy Taco,4.3
16,74324,Tamerlane: Architect-designed luxury living,-37.80275,144.97616,Bon Ap' Petit Bistro,4.6
17,74959,Blissful Beachside Port Melbourne Warehouse,-37.84098,144.93640,Isshin Izakaya - Japanese Restaurant,3.8
18,78143,2 bedrooms-ideal for friends/family,-37.85310,144.99012,Marmara Restaurant,4.5
22,108032,Studio apartment on Collins Street,-37.81595,144.96606,Lane Restaurant,4.4
24,120487,Garden Bungalow with the Possums,-37.99031,145.07744,Buono Restaurant & Bar,4.9
25,133617,Life style on the Beach 豪华的海边生活,-37.84317,144.94031,Hanoi Mee Kitchen & Bar,4.6
27,144236,"Lux Apartment, Australian Open",-37.84499,144.97929,Rosco's @ Chevron,4.5
28,150729,"Fabulous Fitzroy, gorgeous Gertrude St. No I...",-37.80508,144.97942,Trippy Taco,4.3
31,161404,"Handy Location, 5Beds, 3bath, 10km to CBD, Austin",-37.75651,145.03991,Oreganos Pasta & Pizza Ivanhoe,4.3
35,189128,"Double Room, Private Bathroom, Breakfast & Air...",-37.81760,145.05913,Mylyn Restaurant,4.2
37,206865,Luxury Private St.Kilda Apartment,-37.85961,144.97712,Leo's Spaghetti Bar,4.1
39,210568,"Carnarvon, Armadale/St KldaE/Caulfl",-37.86898,145.02775,The Potsticker - Caulfield North,4
40,213348,Large room in quiet Victorian home,-37.85874,144.98633,"OZZYTHAI, ST KILDA Cafe Bar Restaurant",4.4
41,214565,Warm and inviting cottage in the North East,-37.71370,145.12380,Montibello,4.4
45,240410,Beautifully Appointed Apt - Central,-37.80507,144.95190,Amiconi Restaurant,4.7
48,244952,Treehouse apartment in Fitzroy,-37.80403,144.97908,Bon Ap' Petit Bistro,4.6
52,251354,Inner city Warehouse Garden of Eden,-37.85795,145.02439,Junoon Indian Restaurant,4.6
54,256186,Collingwood 2 bedrm Warehouse Apt,-37.80182,144.98274,Fonda Mexican,4.2
56,257915,Central Apartments in Melbourne,-37.82525,144.96145,My Goodness,4.2
57,261558,Victorian terrace in Nth Melbourne close to CBD!,-37.80439,144.95213,Amiconi Restaurant,4.7
58,263871,In The Heart Of The City- Melbourne,-37.81695,144.96295,Kim Sing Restaurant,4.4
59,268525,Home 20mins (CBD) near Box Hill,-37.81290,145.14081,Lexton Lunch Box,4.3
61,268849,"Unique, Intimately Styled South Yarra Sanctuary",-37.83692,144.99285,Cafe Republic.,4.3
63,280698,Elwood SPACIOUS OPEN PLAN EXEC 2BR+PARKING+WIF...,-37.87322,144.98937,FIGO Pizza,4.5
64,283257,sunlit studio down a quiet laneway,-37.80440,144.98213,Sook Thai Kitchen & Bar,4.8
65,284210,Fitzroyalty - stylish and central,-37.79850,144.97883,Little Hop,4.6
67,297350,"Best, west of Melbourne-Wifi & Spa1",-37.78374,144.75729,BBQ Chicken,3.7
69,307615,Queen BR + Private Bathroom in Huge CBD Apartment,-37.80847,144.96606,Encore Restaurant & Bar,4.6
70,309093,Savour 180-Degree Urban Views at a Triple Leve...,-37.81973,145.00078,Silvio's Pizza House,4
71,310594,Cosy nest in vibrant eclectic area,-37.80523,144.99518,The Happy Mexican,4.5
73,315513,"Best, west of Melbourne-Wifi & spa2",-37.78374,144.75728,BBQ Chicken,3.7
74,317239,Inner City Home-6 stops by train to Melbourne CBD,-37.82989,144.87123,Motorino Pizzeria,4.6
76,331605,3 Bedroom Apartment MT111,-37.82348,144.96180,My Goodness,4.2
77,334678,Room + Own Bathroom - 7km from city,-37.80089,144.89165,Abesha Restaurant,4.6
78,334891,Attractive room in leafy Deepdene,-37.81285,145.06378,District Pho,4.7
80,363278,Fitzroy: Tiny stone cottage,-37.80283,144.98305,Fonda Mexican,4.2
81,381690,Renovated Art Deco fully furnished,-37.86393,144.99824,Zanini Pizzeria - St Kilda East,4.5
83,386252,"Room for rent, townhouse in Kew",-37.80883,145.03969,Centonove,4.7
85,403876,Luxurious Self Contained Pool House,-37.84167,145.03505,Le Petit Bistro,4.5
87,406997,Spacious Rm for you or couple 2/43,-37.88426,145.06133,Gami Chicken & Beer,4.4
88,415272,"Great location! Easy access to CBD, Aus. Open.",-37.84534,145.05335,Squires Loft Camberwell,4.2
90,432113,Split Level City Centre Apartment + free parking,-37.82761,144.96765,Ayam Chef,4.4
91,433779,Room with private courtyard 7,-37.88427,145.06139,Gami Chicken & Beer,4.4
92,438849,Grand Old Victorian Hawthorn Home,-37.82406,145.05656,Hunger Den,4.7
93,438899,Uber-Cool Loft-South Melbourne-Wkly&Mthly Pricing,-37.83359,144.96480,KUU Café + Japanese kitchen.,4.4
97,456950,St Kilda Bay Views,-37.85397,144.98198,My Goodness,4.1
98,464528,BOUTIQUE STAYS – Zinc Views - 501,-37.84318,144.94016,Hanoi Mee Kitchen & Bar,4.6
99,464612,Point Cook Homestay with Private Bathroom,-37.90042,144.72496,Pizza Industri,4.4

### Connecting to local database

In [15]:
connection_string='postgres:Harvey90@localhost:5432/etl_project'
engine=create_engine(f'postgresql://{connection_string}')

In [16]:
# confirm tables
engine.table_names()

/Users/russ/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/ipykernel_launcher.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)

['listing', 'reviews', 'cafes']

In [18]:
new_df.to_sql(name='listing', con=engine, if_exists='append', index=False)

In [19]:
cafe_df.to_sql(name='cafes', con=engine, if_exists='append', index=False)

In [20]:
new_df3.to_sql(name='reviews', con=engine, if_exists='append', index=False)

In [21]:
pd.read_sql_query('select * from listing', con=engine).head()

,id,host_id,airbnb_name,host_location,review_scores_location,latitude,longitude,price
0,9835,33057,Beautiful Room & House,AU,9.0,-37.77268,145.09213,$60.00
1,10803,38901,Room in Cool Deco Apartment in Brunswick East,"Melbourne, Victoria, Australia",10.0,-37.76651,144.98074,$31.00
2,12936,50121,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,"Melbourne, Victoria, Australia",10.0,-37.85999,144.97662,$95.00
3,38271,164193,Melbourne - Old Trafford Apartment,"Berwick, Victoria, Australia",10.0,-38.05725,145.33936,$99.00
4,41836,182833,CLOSE TO CITY & MELBOURNE AIRPORT,"Melbourne, Victoria, Australia",9.0,-37.69729,145.00082,$40.00

In [22]:
pd.read_sql_query('select * from reviews', con=engine).head()

         id  listing_id                                           comments
0    279854        9835             Very hospitable, much appreciated.\r\n
1   3640746        9835  A beautiful house in a lovely quiet neighbourh...
2  23731188        9835  This was my first time using airbnb and it was...
3  46588875        9835  I was visiting Melbourne to spend time with my...
4   3333588       10803  It was very convenient  to stay in Lindsay's a...

In [23]:
pd.read_sql_query('select * from cafes', con=engine).head()

,id,airbnb_name,latitude,longitude,cafe_name,cafe_rating
0,9835,Beautiful Room & House,-37.77268,145.09213,Mulino Woodfire Pizzeria,4.6
1,12936,St Kilda 1BR+BEACHSIDE+BALCONY+WIFI+AC,-37.85999,144.97662,Leo's Spaghetti Bar,4.1
2,38271,Melbourne - Old Trafford Apartment,-38.05725,145.33936,Masala Bar and Grill,3.7
3,43429,Tranquil Javanese-Style Apartment in Oakleigh ...,-37.89960,145.11447,Tarantino's Pizzeria,4.4
4,47100,Très Charming in Fabulous Richmond,-37.81804,145.00442,Bouzy Rouge,4.4